<!-- Table of Content -->
<div class="toc-container"></div>
<!-- Post -->
<article class="post">
    <h1 class="post-title"><%= post.title %></h1>
    <span class="post-date"><%= post.dateCreated %></span>
    <!--Content-->
    <%- post.content %>
</article>
<!-- Tags -->
<div class="tags">
    Tag: 
    <% post.tags.forEach(tag => { %>
    <a class="tag" href="/tags/<%=tag%>"><%= tag%></a>
    <%});%>
</div>
<!-- Related Post -->
<div class="related"></div>
<!-- Comments -->
<div class="comments">
</div>