<!-- Table of Content -->
<div class="toc-container"></div>
<!-- Post -->
<article class="post">
    <h1 class="post-title"><%= post.title %></h1>
    <span class="post-date"><%= post.dateCreated %></span>
    <!--Content-->
    <div class="post-content">
        <%- post.content %>
    </div>
</article>
<!-- Tags -->
<div class="tags">
    Tag:
    <% post.tags.forEach(tag => { %>
    <a class="tag" href="/tags/<%=tag%>"><%= tag%></a>
    <%});%>
</div>
<!-- Related Post -->
<div class="related">
    <h2>Các bài viết liên quan:</h2>

</div>
<!-- Comments -->
<div class="comments">
    <h2>Bình luận:</h2>
    <ul class="comment-list">
        <% include comment %>
        <% include comment %>
        <% include comment %>
        <% include comment %>
        <% include comment %>
    </ul>
    <div class="comment-box">
        <textarea name="comment" id="comment-input" onkeydown="summitComment(event)" placeholder="Comment ở chỗ này bạn ơi ~~" required></textarea>
        <p>Ctrl + Enter để gửi bình luận</p>
    </div>
</div>