<%- include("partials/header", {css: "ulgrid"}) %>
<% include partials/sidebar %>

<div class="container content">
    <h2>Posts with tag <span class="tags"><span class="tag"><%=tag%></span></span></h2>
    <ul class="post-list">
        <% posts.forEach( post => { %>
        <li><a href="/post/<%=post.path%>"><%=post.title%></a></li>
        <%})%>

    </ul>
    <h2>Tags</h2>
    <ul class="tags">
        <% tags.forEach( tag => {%>
        <li class="tag"> <%=tag.tag%> (<span class="nop"><%= tag.NumberOfPosts %></span>)</li>
        <% }) %>
    </ul>
</div>
<% include partials/footer %>